@import './../../../../variables/_index';
:host ::ng-deep .post {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  padding: 134px;
  h1 {
    font-family: 'MavenPro Bold';
    font-size: 48px;
    color: #CD5D50;
    letter-spacing: -0.3px;
    margin-bottom: 60px;
  }

  h2 {
    font-family: 'MavenPro Medium';
    font-size: 36px;
    color: #CD5D50;
    letter-spacing: 0.18px;
    margin-bottom: 32px;
  }

  .author-name {
    opacity: 0.6;
    font-family: 'Open Sans Semibold';
    font-size: 13px;
    color: #2D424C;
    letter-spacing: 0.06px;
  }

  p {
    font-family: 'Open Sans Regular';
    font-size: 20px;
    color: #111111;
    letter-spacing: 0.1px;
    line-height: 30px;
    margin-bottom: 40px;
    max-width: 85ch;
  }
  /*  blockquote p{
        font-size: 22px;
        line-height: 30px;
        padding-left: $SizeMedium;
        font-weight: 300;

        border-left: 2px solid $red;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    ul {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        margin-top: $SizeVeryLarge;
        margin-bottom: $SizeVeryLarge;

        padding-left: $SizeLarge;
        list-style: none;

        li{
            position: relative;
            padding-bottom: $SizeTiny;

            &::before{
                content: "";

                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: $black;
                position: absolute;
                border-radius: 50%;
                left: -$SizeLarge;
                top: $SizeSmall;
                margin-left: 0;
            }
        }
    }

    figure.image-caption,figure.caption{
        margin-top: 32px;
        margin-bottom: 32px;
        display: block;

        img{
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 0px 2px rgba(0,0,0,.5), 0 6px 12px rgba(0,0,0,0.16);
        }

        figcaption{
            font-style: italic;
            font-size: 14px;
            line-height: 19px;
            color: rgba($black, .75);
            margin: $SizeRegular $SizeTiny 0;
        }
    }

    p code{
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0px 2px rgba(0,0,0,.5), 0 6px 12px rgba(0,0,0,0.16);
        display: inline;
        vertical-align: baseline;
        padding: 0 $SizeTiny;
    }

    pre{
        margin-top: 32px;
        margin-bottom: 32px;

        code{
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 0px 2px rgba(0,0,0,.5), 0 6px 12px rgba(0,0,0,0.16);
            display: block;

            &.hljs-line-numbers{
                border-radius: 4px 0 0 4px;

                & + code{
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    } */
}
