//Page Titles
@mixin font-h1 {
  font-family: MavenPro-Bold;
  font-size: 48px;
  color: #CD5D50;
  letter-spacing: -0.3px;
}

h1,
.display,
.h1 {
  @include font-h1;
}

@mixin font-h2 {
  font-family: MavenPro-Medium;
  font-size: 36px;
  color: #CD5D50;
  letter-spacing: 0.18px;
}

h2,
.display,
.h2 {
  @include font-h2;
}

@mixin font-h3 {
  font-family: MavenPro-Medium;
  font-size: 24px;
  color: #CD5D50;
  letter-spacing: 0.12px;
}

h3,
.display,
.h3 {
  @include font-h3;
}

// Default size, Sub headlines
@mixin font-default {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #111111;
  letter-spacing: 0.1px;
  line-height: 30px;
}

p,
.body {
  @include font-default;
}

@mixin font-author {
  opacity: 0.6;
  font-family: OpenSans-SemiBold;
  font-size: 13px;
  color: #2D424C;
  letter-spacing: 0.06px;
}

p,
.author {
  @include font-author;
}

@mixin font-bookmark {
  font-family: OpenSans-Italic;
  font-size: 20px;
  color: #2D424C;
  letter-spacing: 0.38px;
}

p,
.bookmark {
  @include font-bookmark;
}

@mixin font-quote {
  font-family: OpenSans-Italic;
  font-size: 20px;
  color: #2D424C;
  letter-spacing: 0.38px;
}

p,
.quote {
  @include font-quote;
}
