//Page Titles
@mixin font-display-2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
h1,.display,.h1{
    @include font-display-2;
}

//Page Titles
@mixin font-display-1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
h1,.display,.h1{
    @include font-display-1;
}


//Section and feature headlines
@mixin font-headline {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
}
h2,.headline,h2{
    @include font-headline;
}

//Selling point headlines, Template names
@mixin font-subheadline {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
}
h3,.subheadline,.h3{
    @include font-subheadline;
}

//Selling point headlines, Template names
@mixin font-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
}
h4,.title,.h4{
    @include font-title;
}

// Copy, Primary navigation links, Tab labels
@mixin font-lead {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    
}
.lead{
    @include font-lead;
}

// Default size, Sub headlines
@mixin font-default {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
}
p,.body{
    @include font-default;
}

// Copy, Primary navigation links, Tab labels
@mixin font-regular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
.regular{
    @include font-regular;
}

@mixin font-caption {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    font-style: italic
}

.caption{
    @include font-caption;
}

// Copy, Primary navigation links, Tab labels
@mixin font-small {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 19px;
    letter-spacing: normal;
}
.small{
    @include font-small;
}

// Copy, Primary navigation links, Tab labels
@mixin font-tag {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}
.tag{
    @include font-tag;
}