// Color Codes
$white: #fff;
$white-50: rgba(255,255,255,.5);
$grey: #E6E6E6;

$black: #262223;
$black-light: #4D4446;
$black-lighter: #73676A;
$black-lightest: #99898D;

$red: #E64560;
$red-dark: #992E40;

// spacings
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-48: 48px;
$space-56: 48px;
$space-64: 64px;
$space-96: 96px;
$space-120: 120px;

$screen-small : 768px;
$screen-medium-small : 992px;
$screen-medium : 1200px;
$screen-large : 1550px;
