// Color Codes
$white: #fff;
$white-50: rgba(255,255,255,.5);
$grey: #E6E6E6;

$black: #262223;
$black-light: #4D4446;
$black-lighter: #73676A;
$black-lightest: #99898D;

$red: #E64560;
$red-dark: #992E40;

// spacings
// Sizes
$SizeOne:      0.0625rem;  //  1 px
$SizeTiny:          0.25rem;   //  4 px
$SizeSmall:         0.5rem;  //  8 px
$SizeRegular:       0.75rem;   // 12 px
$SizeMedium:        1rem;       // 16 px
$SizeLarge:         1.5rem;    // 24 px
$SizeVeryLarge:     2rem;       // 32 px
$SizeExtraLarge:    3rem;       // 48 px
$SizeHuge:          6rem;       // 96 px
$SizeWambo:         7.5rem;       // 120 px

$screen-small : 768px;
$screen-medium-small : 992px;
$screen-medium : 1200px;
$screen-large : 1550px;
