@font-face {
  font-family: 'Open Sans Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('/assets/fonts/OpenSans-Italic.ttf')  format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/assets/fonts/OpenSans-Semibold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('/assets/fonts/OpenSans-SemiboldItalic.ttf')  format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/assets/fonts/OpenSans-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/assets/fonts/OpenSans-LightItalic.ttf')  format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/assets/fonts/OpenSans-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/assets/fonts/OpenSans-BoldItalic.ttf')  format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url('/assets/fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url('/assets/fonts/OpenSans-ExtraBoldItalic.ttf')  format('truetype');
  font-style: italic;
}


/*-----------------------------------------------------------------------------------------*/
/*Maven*/
@font-face {
  font-family: 'MavenPro Regular';
  src: url('/assets/fonts/MavenPro-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'MavenPro Medium';
  src: url('/assets/fonts/MavenPro-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'MavenPro Bold';
  src: url('/assets/fonts/MavenPro-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'MavenPro Black';
  src: url('/assets/fonts/MavenPro-Black.ttf')  format('truetype');
}
