body {
  margin: 0;
}

app-navbar {
  grid-area: top-nav;
}

app-sidebar {
  grid-area: side-nav;
}

#content {
  grid-area: content;
}

#site-wrap {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 80px auto;
  grid-template-rows: 40px auto;
  grid-template-areas:
  "side-nav top-nav"
  "side-nav content";
}

nav ul,
nav ol {
  padding: 0;
  text-align: center;
  list-style: none;
  list-style-image: none;
}