.hero-wrapper {
  background-image: url('/assets/img/bgballs.svg');
  padding-bottom: 900px;
  .background-circles {
    position: relative;
    right: 0;
    top: 0;
    svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .intro-content {
    position: relative;
    top: 200px;
    left: 55px;
    svg {
      margin-bottom: 40px;
    }
    p {
      width: 506px;
    }
  }
  .mission-statement {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 600px;
    width: 900px;
    font-family: 'Open Sans Italic';
    font-size: 20px;
    color: #2D424C;
    letter-spacing: 0.38px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(45, 66, 76, 0.15);
    border-radius: 6px;
  }
}

.card-left {
  display: inline-block;
  padding-left: 16px;
  width: 514px;
  height: 340px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(45, 66, 76, 0.2);
}

.card-right {
  display: inline-block;
  padding-left: 16px;
  width: 514px;
  height: 340px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(45, 66, 76, 0.2);
}

.iconplaceholder {
  padding-top: 16px;
}

h3 {
  padding-top: 0px;
  font-family: 'MavenPro Medium';
  font-size: 24px;
  color: #cd5d50;
  letter-spacing: 0.12px;
}

.hubpreviewtext {
  width: 482px;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  color: #111111;
  letter-spacing: 0.08px;
  line-height: 22px;
}

a.hubpreviewlink {
  margin-top: 60px;
  width: 186px;
  height: 28px;
  text-decoration: none;
  font-family: 'Open Sans Semibold';
  font-size: 16px;
  color: #2d424c;
  letter-spacing: 0.08px;
}

ul.previewlink {
  display: table;
  list-style: none;
  padding: 0;
  padding-top: 40px;
}

ul.previewlink li {
  display: inline-block;
  padding: 5px;
}

.cardwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 64px;
}
