<div class="cardwrapper">
  <div class="card-left">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Konzept </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-right">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Design </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>

  </div>
</div>
<div class="cardwrapper">
  <div class="card-left">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Konzept </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-right">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Design </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>

  </div>
</div>
<div class="cardwrapper">
  <div class="card-left">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Konzept </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-right">
    <div class="iconplaceholder">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Frame" transform="translate(-458.000000, -410.000000)" fill="#2D424C">
            <rect id="Rectangle-11" x="458" y="410" width="48" height="48" rx="6"></rect>
          </g>
        </g>
      </svg>
    </div>
    <h3> Design </h3>
    <p class="hubpreviewtext"> Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the many
      form Was ist unsere Mission, unser Anliegen Audio player software is used to play back sound recordings in one of the
      many form.
    </p>
    <ul class="previewlink">
      <li>
        <a class="hubpreviewlink" href="https://www.w3schools.com">Mehr über das Konzept</a>
      </li>
      <li>
        <div class="hubpreviewlink">
          <svg width="26px" height="14px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Home" transform="translate(-432.000000, -2075.000000)">
                <g id="HubPage_Preview_Card" transform="translate(230.000000, 1777.000000)">
                  <g id="ArrowRight" transform="translate(202.000000, 298.000000)">
                    <g>
                      <rect id="Rectangle-4" fill="#FFFFFF" opacity="0.022265625" x="0" y="0" width="26" height="14"></rect>
                      <path d="M13.94966,12.70988 C13.6762376,12.983631 13.232666,12.9838974 12.958915,12.710475 C12.685164,12.4370526 12.6848976,11.993481 12.95832,11.71973 L17.02567,7.657315 L4.7035,7.657315 C4.31690068,7.657315 4.0035,7.34391432 4.0035,6.957315 C4.0035,6.57071568 4.31690068,6.257315 4.7035,6.257315 L17.013805,6.257315 L12.95832,2.20673 C12.6848976,1.93297902 12.685164,1.48940737 12.958915,1.215985 C13.232666,0.942562627 13.6762376,0.942829018 13.94966,1.21658 L19.2075,6.468155 C19.338985,6.59936699 19.4128755,6.77749258 19.4128755,6.9632475 C19.4128755,7.14900242 19.338985,7.32712801 19.2075,7.45834 L13.94966,12.70988 Z"
                        id="Shape" fill="#2D424C" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>

  </div>
</div>

